@media screen and (min-width: 1408px) {
  .container {
    max-width: 1200px;
    width: 1200px;
  }
}

#coin-dashboard {
  margin-left: auto;
  margin-right: auto;
}

#coin-dashboard .columns {
  flex-wrap: wrap;
}
